@import "../../styles.scss";
.hero-details-container {
  .hero-details * {
    margin: 5px 10px;
  }
  .hero-id {
    color: white;
    cursor: default;
  }
  button {
    @include buttons-design;
  }
}

