<div *ngIf="hero" class="hero-details-container">
  <h2>Details about {{hero.name | uppercase }}</h2>

  <div class="hero-details">
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    <span class="hero-id">id: {{hero.id}}</span>
    <button class="buttons-design" (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>

</div>
