@import "../styles";
.container {
  h1 {
    margin-top: 0;
    padding-top: 1em;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    & a {
      @include buttons-design;
      &:hover {
        background-color: transparent;
        border: 1px mistyrose solid;
        color: mistyrose;
        transition: all 0.4s ease;
      }
    }
  }
}

