<h2>Top Heroes</h2>
<div class="heroes-menu">
  <a *ngFor="let hero of heroes"
     routerLink="/detail/{{hero.id}}">
    {{hero.name}}
  </a>
  <button (click)="toggleHeroesQuantity()">Show {{heroesQuantity}} heroes</button>
</div>

<app-hero-search></app-hero-search>

