.heroes-menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0 10px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: white;
  a {
    margin: 5px;
    padding: 7px;
    border: 2px white solid;
    border-radius: 5px;
    background-color: cadetblue;
    transition: all 0.4s;
    &:hover {
      border: 2px cadetblue solid;
      color: white;
      transition: all 0.4s;
    }
  }
  button {
    display: inline-block;
    width: 200px;
    height: 30px;
    margin: 5px auto;
    padding: 5px;
    border: 2px cadetblue solid;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    background-color: white;
    color: cadetblue;
    transition: font-size .4s ease-out;
    &:hover {
      border: 2px cadetblue solid;
      cursor: pointer;
      font-weight: bolder;
      font-size: 16px;
      color: rgba(96,157,160,0.8);
      transition: font-size .4s ease-out;
    }
  }
}
