/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

@mixin buttons-design {
  margin: 10px;
  padding: 5px 10px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: cadetblue;
  transition: all 0.6s ease;
  &:hover {
    cursor: pointer;
    background-color: white;
    transition: all 0.6s ease;
  }
}
html {
  //font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: cadetblue;
  }
  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
  input {
    border: 1px black solid;
    border-radius: 7px;
    padding: 7px;
    outline: none;
  }
  li {
    list-style-type: none;
  }
}
