@import "../../styles.scss";
@mixin heroes-list-hover {
  border: 1px mistyrose solid;
  background-color: cadetblue;
  color: mistyrose;
  cursor: pointer;
  transition: all .4s ease;
}
.heroes {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    display: inline-block;
    width: 200px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
    border: 1px black solid;
    transition: all .4s ease;
    &:hover {
      @include heroes-list-hover;
    }
  }
  .delete-button {
    @include buttons-design;
    padding: 0 5px;
    border-radius: 50%;
    &:hover {
      @include heroes-list-hover;
    }
  }
}
.add-button {
  @include buttons-design;
}

