<div class="search-component">
  <label for="search-box">Hero Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
</div>
  <div>
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async " >
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
  </div>


