.search-component {
  display: inline-block;
  margin-top: 20px;
  label {
    display: inline-block;
    margin: 10px 20px;
  }
}

.search-result {
  li {
    margin: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    a {
      padding: 5px;
      display: inline-block;
      color: black;
    }
  }
}
